* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative; }

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

#signup-container {
  background-color: #E4F1FE;
  top: 50em;
  width: 30em;
  margin: 0 auto;
  padding: 1em 2em; }
  #signup-container h1 {
    margin-bottom: 1em; }
  #signup-container form div {
    margin: 0.5em 0; }
  #signup-container form .submit-container {
    text-align: center; }
