#signup-container
	// opacity: 0
	background-color: $light
	top: 50em
	width: 30em
	margin: 0 auto
	padding: 1em 2em
	h1
		margin-bottom: 1em
	form
		div
			margin: 0.5em 0
		.submit-container
			text-align: center

