#signup-container, .tint:after
	border-radius: 7px

#signup-container
	background: url('../images/air.jpg') no-repeat center center
	background-size: cover
	color: $dark
	border: 1px solid
	border-radius: 7px
	top: 42em
	width: 30em
	margin: 0 auto
	h1, .submit-container
		text-align: center
	h1
		padding: 0.5em
		border-radius: 7px 7px 0 0
		background-color: $dark
		color: $light
	form
		padding: 1em 2em
		div
			margin: 0.5em 0
		input, textarea
			border: 1px solid $dark
			border-radius: 3px
			padding: 5px
		input
			width: 17em
			height: 1.7em
			font-size: 1.2em
		.submit-container button
			transition: 250ms ease-in-out all
			border: none
			padding: 1em
			border-radius: 7px
			color: $light
			background-color: $dark
			font-size: 1.3em
			cursor: pointer



.tint:after
	content: '' 
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	background: rgba(216, 216, 216, 0.89)

.signup-contents
	z-index: 99

@media screen and ($desktop)
	#signup-container
		.submit-container button:hover
			background-color: $darker
